@charset "utf-8";

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

:root {
  --mobile-header-cl: 0rem;
  --header-cl: 4.625rem;
  --header-ol: 22.25rem;
}

body {
  color: #444444;
  font-family: 'DM Sans', sans-serif;
}

a {
  color: #4154f1;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
  color: #2F1C6A;
  font-family: 'DM Sans', sans-serif;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'DM Sans', sans-serif;
}

ul {
  list-style: none;
  font-family: 'DM Sans', sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin-top: 32px;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  margin-top: 32px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (min-width: 1200px) {
  .container-xl {
    max-width: 1140px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}

.breadcrumbs ol a:hover {
  text-decoration: underline;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 45px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  position: fixed;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(5, 45, 112, 0.1);
}

.header .logo {
  line-height: 0;
}


.header .logo img {
  max-height: 40px;
  margin-right: 6px;
  border: 1px solid #e1ecff;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: 'DM Sans', sans-serif;
  margin-top: 3px;
}

@media only screen and (max-width: 767px) {
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 926px) {
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 568px) {
  .section-header {
    text-align: center;
    padding-bottom: 30px;
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/

.navbar .container {
  display: flex !important;
}

.navbar {
  padding: 0;
  display: block;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #4154f1;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  background: #ffffff;
  padding: 8px 20px;
  outline: none;
  margin-left: 30px;
  border-radius: 4px;
  color: #1d1e20;
  font-weight: 700;
  border: 2px solid #1d1e20;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #1d1e20;
  background: #ffffff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .megamenu {
  position: static;

}


.navbar .megamenu ul {
  margin-top: 5px;
  right: 0;
  padding: 28px 0;
  display: flex;
}

.navbar .megamenu ul li {
  flex: 1;
}

.navbar .megamenu ul li a,
.navbar .megamenu ul li:hover>a {
  color: #013289;
}

.navbar .megamenu ul li a:hover,
.navbar .megamenu ul li .active,
.navbar .megamenu ul li .active:hover {
  color: #4154f1;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/*
Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}



.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/* -----------DOMINIO---------------*/
#domain {
  background: #fff;
  background-size: cover;
  margin-bottom: 5px;
  padding: 35px;
  position: relative;
  transition: all .5s ease;
}

.domain .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

#domain .box {
  margin-bottom: 1.5rem;
}

#domain .icon {
  float: left;
  transition: all .5s ease;
  vertical-align: middle;
}

#domain .icon i {
  color: #012970;
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin: 0;
  align-items: flex-start;
  font-size: 25px;
}

#domain .title {
  font-size: 14px;
  margin: 0;
  padding: 0 0 8px 0;
  color: #012970;
  font-weight: 600;
  position: relative;
}

#domain .title a {
  color: #012970;
  display: block;
  text-align: initial;
  margin: 10px 0 0 0;
}

#domain .box:hover .title a {
  color: #7189f5;
  outline: none;
  text-decoration: none;
  transform: scale(1);
}

#domain .description {
  text-align: left;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #012970;
  margin: 10px 0 0 0;
  padding: 0;
}

/* -----------ALOJAMENTO---------------*/
#hosting {
  background: #fff;
  background-size: cover;
  margin-bottom: 1.6rem;
  padding: 35px;
  position: relative;
  transition: all .5s ease;
}

.hosting .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

#hosting .box {
  margin-bottom: 1.5rem;
}

#hosting .icon {
  float: left;
  transition: all .5s ease;
  vertical-align: middle;
}

#hosting .icon i {
  color: #012970;
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin: 0;
  align-items: flex-start;
  font-size: 25px;
}

#hosting .title {
  font-size: 14px;
  margin: 0;
  padding: 0 0 8px 0;
  color: #012970;
  font-weight: 600;
  position: relative;
}

#hosting .title a {
  color: #012970;
  display: block;
  text-align: left;
  margin: 10px 0 0 0;
}

#hosting .box:hover .title a {
  color: #7189f5;
  outline: none;
  text-decoration: none;
  transform: scale(1);
}

#hosting .description {
  text-align: left;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #012970;
  margin: 10px 0 0 0;
  padding: 0;
}

/* -----------SERVIDORES---------------*/

#servers {
  background: #fff;
  background-size: cover;
  margin-bottom: 5px;
  padding: 35px;
  position: relative;
  transition: all .5s ease;
}

.servers .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

#servers .box {
  margin-bottom: 1.5rem;
}

#servers .icon {
  float: left;
  transition: all .5s ease;
  vertical-align: middle;
}

#servers .icon i {
  color: #012970;
  display: block;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  line-height: 48px;
  margin: 0;
  align-items: flex-start;
  font-size: 25px;
}


#servers .title {
  font-size: 14px;
  margin: 0;
  padding: 0 0 8px 0;
  color: #012970;
  font-weight: 600;
  position: relative;
}

#servers .title a {
  color: #012970;
  display: block;
  text-align: left;
  margin: 10px 0 0 0;
}

#servers .box:hover .title a {
  color: #7189f5;
  outline: none;
  text-decoration: none;
  transform: scale(1);
}

#servers .description {
  text-align: left;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #012970;
  margin: 10px 0 0 0;
  padding: 0;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  font-family: 'DM Sans', sans-serif;
}

.hero p {
  padding-top: 1.5rem;
  text-align: start;
  border: 0;
  margin: 0;
  color: #5b5b5c;
  font-weight: 500;
  text-decoration: none;
  vertical-align: baseline;
  font-family: 'DM Sans', sans-serif;
}

.hero h1 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #012970;
  font-size: 33px;
  line-height: 32px;
  text-decoration: none;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 20px;
  line-height: 32px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .container {
  padding-top: 72px;
}

/* @media only screen and (max-width: 667px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 60px;
  }

  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
  }

  #hero p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  #hero .hero-img img {
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
} */


/* @media only screen and (max-width: 568px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    margin-top: 60px;
  }

  #hero {
    height: 100vh;
    text-align: center;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
  }

  #hero p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  #hero .hero-img img {
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .img-fluid {
    height: 50%;
    width: 60%;
  }
} */

@media only screen and (max-width: 991px) {
  #hero .hero-img {
    text-align: center;
  }

  .hero {
    height: auto;
    padding: 10px 24px 11px 24px;
  }

  .hero .hero-img {
    text-align: center;
  }

  #hero .hero-img img {
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #hero .animated {
    animation: none;
    margin-bottom: 3em;
  }

  /* .img-fluid {
    height: 100vh;
  } */
}


@media only screen and (max-width: 768px) {
  .hero {
    text-align: center;
    padding: 10px 24px 11px 24px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    /* margin-top: 60px; */
  }

  #hero h2 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
  }

  #hero p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  #hero .hero-img img {
    width: 90%;
    height: 90%;
    /* padding-top: 2rem; */
    padding-bottom: 2rem;
  }

  /* 
  .img-fluid {
    height: 50%;
    width: 60%;
  } */
}



@media only screen and (max-width: 667px) {
  .hero {
    text-align: center;
    padding: 10px 24px 11px 24px;
  }

  #hero .hero-img img {
    width: 90%;
    height: 90%;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    /* margin-top: 60px; */
  }

  #hero h2 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;

  }

  #hero p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  /* 
  .img-fluid {
    height: 50%;
  } */
}

@media only screen and (max-width: 575px) {
  #hero .hero-img img {
    width: 90%;
    height: 90%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }

  #hero .img-fluid .animated {
    height: 50%;
    width: 50%;
  }

  .hero {
    text-align: center;
    padding: 10px 24px 11px 24px;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-weight: 600;
    /* margin-top: 100%; */
  }

  #hero h2 {
    font-size: 18px;
    line-height: 36px;
    font-weight: 500;
    padding-top: 6px;
  }

  #hero p {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
  }

  .img-fluid {
    height: auto;
  }
}


@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (min-width: 38.125rem) {
  .hero {
    margin-top: 6rem;
  }

  .hero .hero p {
    width: 70%;
  }
}

@media (min-width: 64em) {
  .hero {
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
  }

}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  margin-bottom: 15px;
  color: #444444;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 2rem;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 20px;
  color: #012970;
  font-weight: 500;
  text-decoration: none;
  vertical-align: baseline;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}

.values h3 {
  margin-bottom: 15px;
  color: #2f1c6a;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2rem;
}

.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}

.values .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}

.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}

.values .box:hover img {
  transform: scale(1);
}


/*--------------------------------------------------------------
# Recursos de segurança
--------------------------------------------------------------*/
.section-bg {
  background-color: #f3f5fa;
}

.security h2 {
  margin: 15px 0 30px 0;
  line-height: 24px;
  color: #2F1C6A;
  font-weight: 500;
}

.security p {
  padding-top: 1.5rem;
  text-align: start;
  border: 0;
  font-weight: 400;
  margin: 0;
  color: #2F1C6A;
  text-decoration: none;
  vertical-align: baseline;
}



/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  border: 1px solid #a8aff1;
  position: relative;
  overflow: hidden;
  /* transition: 0.3s; */
  transition: all .3s ease-in-out;
}

.pricing p {
  color: #012970;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
}

.pricing .box h3 {
  font-weight: 600;
}

.pricing .box span {
  font-weight: 400;
  font-size: 13px;
  color: #444444;
  margin-bottom: 24px;
  font-family: 'DM Sans', sans-serif;
}

.price-container-box-card span {
  font-size: 13px;
}

.pricing h3 {
  margin-top: 30px;
  margin-bottom: 15px;
  color: #444444;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.pricelist>li:last-child {
  border-top: 1px solid;
  border-top-color: #c1cef7;
  padding-top: 1rem;

}

.pricing .box:hover {
  transform: scale(1.02);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.pricing .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
}

.pricing .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .price span {
  color: #673de6;
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  border: 0;
  padding: 0;
  margin: 0;
}

.pricing img {
  padding: 30px 40px;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}

.pricing ul li {
  padding-bottom: 10px;
}

.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 5px;
  color: #4154f1;
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  /* transition: 0.3s; */
  transition: all .3s ease-in-out;
  border: 1px solid #4154f1;
}

.pricing .btn-buy:hover {
  background: #4154f1;
  color: #fff;
}

.pricing .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -50px;
  transform: rotate(30deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #6c79f1;
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}

.faq .accordion-button:focus {
  box-shadow: none;
}

.faq .accordion-button:not(.collapsed) {
  background: none;
  color: #4154f1;
  border-bottom: 0;
}

.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-slider .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}

.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #f6f9ff;
  padding: 0 0 30px 0;
  font-size: 14px;
}

.footer .footer-top {
  background: #f6f9ff;
  background-size: contain;
  border-top: 1px solid #e1ecff;
  border-bottom: 1px solid #e1ecff;
  padding: 60px 0 30px 0;
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

.footer .footer-top .footer-info {
  margin-bottom: 30px;
}

.footer .footer-top .footer-info .logo {
  line-height: 0;
  margin-bottom: 15px;
}

.footer .footer-top .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-top .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: 'DM Sans', sans-serif;
  margin-top: 3px;
}

.footer .footer-top .footer-info p {
  font-size: 12px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  color: #012970;
}

.footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #012970;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 12px;
}

.footer img {
  border: 1px solid #e1ecff;
  border-radius: 4px;
  width: 40px;
  height: 40px;
}

.h-payment-methods__more-btn {
  align-self: center;
  color: #673de6;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 8px;
  transition: all .3s ease-in-out;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #d0d4fc;
  font-size: 12px;
  line-height: 0;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #013289;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
  font-size: 13px;
  font-family: 'DM Sans', sans-serif;
}

.footer .footer-top .footer-links ul a:hover {
  color: #7d89f3;
}

.footer .footer-top .footer-contact p {
  line-height: 1.7;
  letter-spacing: 1px;
  font-weight: 400;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  row-gap: 4rem;
}

.footer-container-company {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-container-company p {
  padding-right: 2rem;
}

.footer-container-company img {
  width: 10.25rem;
}

.footer-container-company ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
}

.footer-container-company ul li img {
  width: 4rem;

}

.footer .copyright {
  text-align: left;
  padding-top: 30px;
  color: #012970;
  font-size: 12px;
}

.footer .credits {
  text-align: right;
  font-size: 13px;
  color: #012970;
}

#footer .credits a {
  transition: 0.3s;
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    text-align: center;
    float: none;
  }

  #footer .credits {
    padding-top: 4px;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  .footer .footer-top {
    background-position: center bottom;
  }
}

/*=======================================================
	Preloader
=======================================================*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  -webkit-transition: all .3s 1s ease;
  -moz-transition: all .3s 1s ease;
  transition: all .3s 1s ease;
}

#preloader>.left,
#preloader>.right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  z-index: 99;
  -webkit-transition: all .7s .3s ease;
  -moz-transition: all .7s .3s ease;
  transition: all .7s .3s ease;
}

#preloader>.left {
  left: 0;
}

#preloader>.right {
  right: 0;
}

body.loaded #preloader {
  visibility: hidden;
}

body.loaded #preloader>.left {
  left: -50%;
}

body.loaded #preloader>.right {
  right: -50%;
}

body.loaded #preloader>.left,
body.loaded #preloader>.right,
body.loaded #preloader .loader {
  opacity: 0;
  visibility: hidden;
}

.loader {
  height: 140px;
  width: 140px;
  border: solid 4px #FFF;
  border-top-color: #303F9F;
  border-right-color: #303F9F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: -70px;
  transition: all .3s ease;
  z-index: 199;
  -webkit-animation: loader 2s infinite linear;
  -moz-animation: loader 2s infinite linear;
  animation: loader 2s infinite linear;
}

.loader:before,
.loader:after {
  content: ' ';
  position: absolute;
  border: inherit;
  border-radius: 50%;
}

.loader:before {
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  opacity: .5;
  -webkit-animation: loader 3s infinite linear;
  -moz-animation: loader 3s infinite linear;
  animation: loader 3s infinite linear;
}

.loader:after {
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  opacity: .25;
  -webkit-animation: loader 1.5s infinite linear;
  -moz-animation: loader 1.5s infinite linear;
  animation: loader 1.5s infinite linear;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}